@using Template.ViewModels
@model MsPermissionViewModel
@{
    ViewData["Title"] = "Permission Page";
    //Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Master Permission</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="MsPermission" asp-action="Index">Master Permission</a></li>
                    <li class="breadcrumb-item active">Add Or Update</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row col-md-12">
                            @Html.Partial("_AlertPartial")
                        </div>
                        <h2 class="card-title">Form Master Permission</h2>
                    </div>
                    <form class="form-horizontal" method="post">
                        <div class="card-body">
                            @Html.HiddenFor(x => x.PermissionID)
                            <div class="form-group row">
                                @Html.LabelFor(x => x.PermissionDesc, "Permission Desc", new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.PermissionDesc, new { @class = "form-control", @placeholder = "Permission Desc" })
                                </div>
                            </div>
                            <div style="text-align:center">
                                <button type="submit" title="Cancel" class="btn btn-outline-warning btn-sm" asp-controller="MsPermission" asp-action="Index">Cancel</button>
                                <button type="submit" title="Save" class="btn btn-outline-primary btn-sm" asp-controller="MsPermission" asp-action="AddOrUpdate" asp-route-MsPermission="@Model">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section CustomJsFooter
{

    $("#msPermissiondt").DataTable({
    "responsive": true, "lengthChange": false, "autoWidth": false,
    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#msPermissiondt_wrapper .col-md-6:eq(0)');

}