@using Template.ViewModels
@model List<MsPageViewModel>
@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Master Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Master Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row col-md-12">
                            @Html.Partial("_AlertPartial")
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <h2 class="card-title"> List Master Page</h2>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a class="btn btn-sm btn-primary" title="Create New" asp-controller="MsPage" asp-action="AddOrUpdate">New Entry</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="mspagedt" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Module ID</th>
                                    <th>Page ID</th>
                                    <th>PageDesc</th>
                                    <th>PageName</th>
                                    <th>PageIcon</th>
                                    <th>Creator</th>
                                    <th>Time Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ModuleId</td>
                                            <td>@item.PageId</td>
                                            <td>@item.PageDesc</td>
                                            <td>@item.PageName</td>
                                            <td>@item.PageIcon</td>
                                            
                                            <td>@item.CrtUsrId</td>
                                            <td>@item.TsCrt</td>
                                            <td>
                                                <a class="blue fa fa-edit" title="Edit" asp-controller="MsPage" asp-action="AddOrUpdate" asp-route-PageID="@item.PageId"></a>
                                                <span>&emsp;</span>
                                                <a class="red fa fa-trash delete" title="Delete" asp-controller="MsPage" asp-action="Delete" asp-route-id="@item.PageId"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<partial name="../Modals/ModalsDelete" />*@
</div>
@section CustomJsFooter
{
    $("#mspagedt").DataTable({
    "responsive": true, "lengthChange": false, "autoWidth": false,
    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#msPagedt_wrapper .col-md-6:eq(0)');

    $(".delete").click(function(event){
    if(confirm("Are you sure you want to Delete?"))
    {
    }else{
    event.preventDefault();
    }
    })
}